<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RIEmail.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

  <appSettings>  
    <add key="ResourceDataProvider" value="RIResourceProvider"/>
    <add key="ResourceApplicationID" value="RI"/>
    <add key="ResourceConnectionStringName" value="connectionRCFAPRD"/>
    
    
    <add key="developmentEmail" value="james.butler@graphicpkg.com"/>
    <add key="supportEmail" value="RIEmail.Support@graphicpkg.com"/>
    <add key="failureEmail" value="RIEmail.task.Failure@graphicpkg.com"/>
    <add key="RIEmail" value="RIEmail.Notification@graphicpkg.com"/>
    <add key="Tracing" value="False"/>
  </appSettings>

  <connectionStrings>
    <!-- Development-->
    <add name="connectionRCFATST" connectionString="Data Source=RCFATST;user id=reladmin;Persist Security Info=True;password=reladmin1;Unicode=True;Min Pool Size=10;Connection Lifetime=600;"/>
    <!-- -->
    <!--Production-->
    <!--<add name="connectionRCFAPRD" connectionString="Data Source=RCFAPRDCPGP1;user id=reladmin;Persist Security Info=True;password=reladmin1;Unicode=True;Min Pool Size=10;Connection Lifetime=600;"/>
    -->
<add name="connectionRCFAPRD" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = oracpgp1)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = rcfaprd)(SERVER = DEDICATED)));PASSWORD=reladmin1;PERSIST SECURITY INFO=True;USER ID=RELADMIN;Unicode=true"/>
  
  </connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.data> 

    <DbProviderFactories> 
      <add name="dotConnect for Oracle" invariant="Devart.Data.Oracle" description="Devart dotConnect for Oracle" type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle, Version=8.4.333.0, Culture=neutral, PublicKeyToken=09af7300eec23701"/>
    </DbProviderFactories> 
  </system.data>
  
  <applicationSettings>
    <RIEmail.My.MySettings>
      <setting name="SupportEmail" serializeAs="String">
        <value>Jodie.Nyberg@graphicpkg.com, james.butler@graphicpkg.com</value>
      </setting>
    </RIEmail.My.MySettings>
  </applicationSettings>
  
</configuration>
